* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.immagine-carosello {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

.avanti{
    color: black;
    right: 1%;
}

.indietro {
    color: black;
    left: 1%;
}

.controllo {
    position: absolute;
    top: 50%;
    font-size: 50px;
    cursor: pointer;
}

.pallini {
    position: absolute;
    bottom: 20px;
    width: 100%;
    left: 0;
    text-align: center;
}

.player {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%)
}

#loader {
    padding: 10px;
    color: white;
}

.stop{
    background-color: black
}

.start{
    background-color: #839192;
}

.pallini span.nero {
    background-color: black;
}

.punto {
    cursor: pointer;
    height: 18px;
    width: 18px;
    margin: 8px;
    background-color: #839192;
    border-radius: 50%;
    display: inline-block;
}
